@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
  --color-primary: #24103a;
  --color-secondary: #2e2144;
  --color-background: #322649;
  --color-gray-light: #a07dbc;
  --color-purple-light: #6f00ff;
  --color-white: #FFFFFF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Russo One', sans-serif;
  background: var(--color-background);
  color: var(--color-white);    
  overflow-x: hidden;
}

body, .sticky-footer-wrapper {
  min-height:100vh;
}